<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}DevSecOps Tower{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/main.css" rel="stylesheet" />
    <link href="/static/img/DevSecOps_Tower.png" rel="icon" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/united/bootstrap.min.css"
      integrity="sha384-JW3PJkbqVWtBhuV/gsuyVVt3m/ecRJjwXC3gCXlTzZZV+zIEEl6AnryAriT7GWYm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
      <a class="navbar-brand logotext" href="/">
        <img src="static/img/DevSecOps_Tower.png" width="37" height="40" />
        &nbsp; DevSecOps Tower
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="true"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="btn btn-light btn-lg" href="/info">🧾 System Info</a>
          </li>
          &nbsp;
          <li class="nav-item active">
		<a class="btn btn-light btn-lg" href="/monitor">
			<img src="static/img/ebpf.png" width="70" height="25"/>
			&nbsp; Monitor
		</a>
		  <!-- <a class="btn btn-success btn-lg" href="/monitor">🚦 Monitor</a>-->
          </li>
        </ul>
      </div>
    </nav>

    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <div class="container body-content">{% block content %}{% endblock %}</div>
    <span style="float: right"> [Ulugbek Khamdamov, 2022-2023] &nbsp;&nbsp;&nbsp;</span>
  </body>
</html>
