{% extends "base.html" %} {% block content %}
<br />
<div class="jumbotron">
  <h1><img src="/static/img/netai.png" height="80px" /> An eBPF/XDP-powered DevSecOps Demo App</h1>

  <div class="lead">
    This is a web application written in Python and using Flask. An eBPF/XDP-powered DevSecOps Approach for securing edge cluster.
  </div>
  <br />

  <div class="dimmed-box">
    <p>
      <img src="static/img/github-2.svg" class="icon" />
      <a href="https://github.com/" class="btn btn-info btn px-4"> GitHub Project </a>

      &nbsp;&nbsp;&nbsp;
      <img src="static/img/docker-whale.svg" class="icon" />
      <a href="https://github.com/" class="btn btn-info btn"> Docker Images</a>
    </p>

  </div>
</div>
{% endblock %}
